@model PlacingBidAgent
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bid Added Notification</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Bid Added!</h1>
        <p>Your bid has been successfully added to the auction.</p>
        @using (Html.BeginForm("JoinBid", "Bid", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="auction-id" name="auctionId" value="@Model.AuctionId">
            <button type="submit" class="btn btn-warning">Go Back To Auction</button>
        }
    </div>
</body>
</html>
