@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ElectroBidAuto</h1>
    <h2 class="display-6">Where Every EV Auction Unveils the Future of Driving!</h2>
</div>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="Photos/Ford_Mustang_Mach-E-01.jpg" class="img-fluid mx-auto d-block" alt="Responsive image">
        </div>
        <div class="carousel-item">
            <img src="Photos/Peugeot_e-208_2024-01.jpg" class="img-fluid mx-auto d-block" alt="Responsive image">
        </div>
        <div class="carousel-item">
            <img src="Photos/Renault_5_ETech-01.jpg" class="img-fluid mx-auto d-block" alt="Responsive image">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>