@model AuctionCreationServiceModel
@{
    ViewData["Title"] = "Add Vehicle";
}

<form asp-action="Create" method="post">
    <input type="hidden" name="CreatorId" value="@Model.CreatorId" />

    <div class="form-group">
        <label for="vehicleId">Vehicle:</label>
        <select class="form-control" id="vehicleId" name="VehicleId" required>
            <option value="">Select Vehicle</option>
            @foreach (var vehicle in Model.Vehicles)
            {
                <option value="@vehicle.Id">@vehicle.Title</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="StartingPrice">Starting Price:</label>
        <input asp-for="StartingPrice" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="EndTime">End Time:</label>
        <input asp-for="EndTime" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MinimumBidIncrement">Minimum Bid Increment:</label>
        <input asp-for="MinimumBidIncrement" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
