@model AuctionCreationServiceModel
@{
    ViewData["Title"] = "Add Vehicle";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_AuctionFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}