@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-md-1">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">For Adding</h5>
                <a asp-action="ForAdding" class="btn btn-primary">For Adding</a>
            </div>
        </div>
    </div>
</div>
